.action-container {
  position: absolute;
  width: 170px;
  height: 60px;
  background-color: #1e1f24;
  border-radius: .4vh;
  left: .4vh;
  top: 50%;
}

.action-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  user-select: none;
  white-space: nowrap;
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  transform: scale(1.2,1);
  /* text-shadow: 0 0 0.1rem rgb(0, 43, 68), 
    0 0 0.1rem rgb(0, 96, 151), 
    0 0 0.1rem rgb(0, 96, 151), 
    0 0 0.1rem rgb(0, 96, 151); */
}