.inventory-header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inventory-name {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2vh;
  text-transform: capitalize;
  line-height: 20px;
  color: #FFFFFF;
}

.inventory-weight {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5vh;
  line-height: 16px;
  color: #FFFFFF;
}