.phone-navigation-bar {
  position: absolute;
  width: 100%;
  height: 7%;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0.5);
}

.phone-navigation-info {
  position: absolute;
  font-size: .9rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}