html {
    overflow: hidden;
    text-shadow: 1px 1px 0 #000,
    -1px -1px 0px #000,
    0px -1px 0px #000,
    1px -1px 0px #000,
   -1px  0px 0px #000,
    1px  0px 0px #000,
   -1px  1px 0px #000,
    0px  1px 0px #000,
    1px  1px 0px #000;
}

body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.progress-container {
    display: none;
    z-index: 5;
    color: #fff;
    width: 18.5%;
    position: fixed;
    bottom: 12.65%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.progress-labels {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
}

.progress-labels div {
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    line-height: 40px;
    position: relative;
    color: #cecece;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
}

.progress-bar-container {
    width: 100%;
    height: 40px;
    background: #18191e;
    border: 2px solid #18191e;
    text-align: left;
    overflow: hidden;
    position: relative;
    display: block;
    white-space: nowrap;
    border-radius: 5px;
}

.progress-bar {
    background-color: #3aaaf9;
    width: 0%;
    height: 40px;
    transition: width 0.3s;
    transition-timing-function: ease-out;
}