.details-wrapper {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #1e1f24;
  border-radius: .5vh;
  color: #fff;
}

.details-info {
  position: absolute;
  top: 30px;
  left: 10px;
}

.details-server-info {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 15px;
  margin: 15px;
  font-size: 2rem;
}

#details-server-text {
  font-size: 1.2rem;
}

.details-licenses {
  position: relative;
  width: 100%;
  height: 100%;
  top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#licenses-title {
  font-size: 1.7rem;
}

.details-licenses-list {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-licenses-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 50%;
  margin: 20px 15px 5px 15px;
}

#details-licenses-name {
  font-size: 1.2rem;
}