.peek-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.peek-eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 2rem;
}

.peek-label-wrapper {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 51vh;
  left: 2.1vh;
  width: 100%;
  min-height: 1%;
  max-height: 50%;
}

.peek-label {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  font-variant: small-caps;
  color: white;
  user-select: none;
  white-space: nowrap;
  text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.3),
    0   -1px 0 rgba(0, 0, 0, 0.3),
    1px -1px 0 rgba(0, 0, 0, 0.3),
    1px  0   0 rgba(0, 0, 0, 0.3),
    1px  1px 0 rgba(0, 0, 0, 0.3),
    0    1px 0 rgba(0, 0, 0, 0.3),
    -1px  1px 0 rgba(0, 0, 0, 0.3),
    -1px  0   0 rgba(0, 0, 0, 0.3);
}