.phone-header {
  position: absolute;
  font-family: 'Roboto', sans-serif;;
  width: 100%;
  height: 4%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: .9rem;
}

.phone-header-info,
.phone-header-icons {
  position: relative;
  display: flex;
  align-items: center;
}

.phone-header-info {
  width: 25%;
  justify-content: space-between;
  left: 10px;
  text-shadow: 1px 1px 0px #000,
    -1px -1px 0px #000,
    0px -1px 0px #000,
    1px -1px 0px #000,
   -1px  0px 0px #000,
    1px  0px 0px #000,
   -1px  1px 0px #000,
    0px  1px 0px #000,
    1px  1px 0px #000;
}

.phone-header-icons {
  gap: 6px;
  right: 10px;
  filter: drop-shadow(-0.5px 1px 0px #000);
}

#phone-signal {
  cursor: pointer;
}

/* APPS */

.phone-apps-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 5%;
  width: 100%;
  height: 90%;
  margin-top: 20px;
  margin-left: 10px;
  gap: 18px;
}

/* ICONS */

.phone-apps-icon {
  position: relative;
  font-size: 2.7rem;
  color: white;
  left: 8px;
  top: 8px;
}

.phone-apps-details {
  width: 20%;
  height: 10%;
  border-radius: 1.5vh;
  background: linear-gradient(323deg, rgba(19,115,189,1) 0%, rgba(158,213,255,1) 100%);
  cursor: pointer;
}

.phone-apps-contacts {
  width: 20%;
  height: 10%;
  border-radius: 1.5vh;
  background: linear-gradient(323deg, rgba(18,147,10,1) 0%, rgba(181,236,207,1) 100%);
  cursor: pointer;
}