.phone-apps-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 5%;
  width: 100%;
  height: 90%;
  margin-top: 10px;
  margin-left: 10px;
  gap: 18px;
}

.phone-apps-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2.7rem;
}