.phone-apps-wrapper {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  top: 6%;
  width: 94%;
  height: 86%;
  margin-left: 10px;
  gap: 18px;
}

.phone-apps-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2.7rem;
}

.app-image {
  position: relative;
  width: 100%;
  height: 100%;
}