.phone-wrapper {
  position: absolute;
  width: 350px;
  height: 770px;
  overflow: hidden;
  right: 3px;
  user-select: text;
}

.phone-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 110% 110%;
  z-index: 999;
  pointer-events: none;
}

.phone-background {
  position: absolute;
  width: 86.8%;
  height: 87.5%;
  border-radius: .5vh;
  left: 41px;
  top: 85px;
}

.phone-app-container {
  height: 100%;
  width: 100%;
}