.settings-wrapper {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #1e1f24;
  border-radius: .5vh;
  color: #fff;
}

.settings-title {
  position: relative;
  top: 5%;
  font-size: 1.5rem;
  left: 20px;
  user-select: none;
}

.settings-list {
  position: relative;
  top: 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-height: 80%;
}

.settings-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 30px;
  left: 20px;
  width: 85%;
}

.settings-button {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

#icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}