.inventory-wrapper {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #fff;
  user-select: none;
  z-index: 998;
}

.inventory-container {
  position: absolute;
  display: flex;
  align-items: flex-start;
  padding: 10% 5%;
  justify-content: space-between;
  width: 90vw;
  height: 70vh;
  gap: 2%;
}

.inventory-box {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: var(--background);
  border-radius: 3px;
  padding: 2.1vh;
}

.inventory-actions {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30%;
  top: 35%;
  background: var(--background);
  border-radius: 3px;
  padding: 1rem;
}

button {
  background-color: var(--foreground);
  color: var(--white-text);
  border: none;
  width: 10vw;
  height: 20vh;
  font-size: 1.4vh;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: .2rem;
  margin: 9px;
}

button:hover {
  filter: brightness(0.9);
}

button:active {
  filter: brightness(0.8);
}

#move-amount {
  border: none;
  padding: 0.40rem 0;
  font-size: 1.5vh;
  width: 10vw;
  height: 20vh;
  border-radius: .2rem;
  text-align: center;
  background-color: var(--foreground);
  text-transform: none;
  color: var(--white-text);
  margin: 9px;
}

#move-amount:hover {
  filter: brightness(0.95);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  display: none;
}

::-webkit-input-placeholder {
  color: rgba(220, 220, 220, 0.85);
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

.react-slidedown.my-dropdown-slidedown {
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}