.contacts-wrapper {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #1e1f24;
  border-radius: .5vh;
  color: #fff;
}

.contacts-add-new {
  position: absolute;
  top: 35px;
  right: 18px;
  font-size: 1.3rem;
  cursor: pointer;
}

.contacts-search {
  position: absolute;
  width: 87%;
  top: 48px;
  left: 20px;
  font-size: 1.3rem;
}

.contacts-list {
  position: relative;
  top: 16%;
  width: 87%;
  height: 79%;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 20px;
  font-size: 1rem;
  overflow: auto;
}

.contacts-list::-webkit-scrollbar {
  width: 0;
}

.contacts-not-found {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 15px;
}